body {
    font-family: arial,sans serif;
    font-size: 11pt;
}
body {
	background-color: #c0c0c0;
}

body > div {
	max-width:800px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 6px;
}

div.menu {
	background-color: white;
	border: medium none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
}

div.menu select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-moz-appearance: none;
	background: transparent url("menu-icon.svg") no-repeat scroll right 3px center;
	border: medium none;
	height: 27px;
	padding-right: 32px;
	width: 32px;
	direction: rtl;
	text-align: left;
	outline: none;
}
div.menu select option {
	direction: ltr;
}
div.menu select {
  counter-reset: capitulo;
}
div.menu select option:before {
  content: counter(capitulo) ". ";
  counter-increment: capitulo;
}
div.menu select option {
	padding-left: 0.5em;
}
div.menu select option:nth-child(n+10) {
	padding-left: 0;
}

table {
	margin-top: 14px;
	border-spacing: 0px;
	border-collapse: collapse;
}
thead {
	background-color: lightblue;
}
td, th {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
table tbody tr:nth-child(even) {
	background-color: #ddd;
}
td > p, th > p {
	margin-top:7px;
	margin-bottom:7px;
}
td > p:first-child, th > p:first-child  {
	margin-top:0;
}
td > p:last-child, td > p:last-child {
	margin-bottom:0;
}


caption {
    text-align: left;
    margin-bottom: 14px;
}

h1 a, h2 a, h3 a, h4 a, legend a {
	text-decoration: none;
	color: inherit;
}
