body {
    font-family: arial,sans serif;
    font-size: 11pt;
}
/*h1 {
	background-color: black;
	border-radius: 6px;
	color: white;
	padding: 10px;
	margin: 0;
}*/
h1 {
	background-color: dimgray;
	border-radius: 6px;
	color: white;
	padding: 10px;
}
h2 {
	background-color: #f0f0f0;
	border-radius: 6px;
	padding: 5px;
}
body {
	background-color: #c0c0c0;
}
body > div {
	max-width:800px;
	margin: 0 auto;
	padding: 10px;
	background-color: white;
	border-radius: 6px;
}
caption {
    text-align: left;
    margin-bottom: 14px;
}
table {
	margin-top: 14px;
	border-spacing: 0px;
	border-collapse: collapse;
}
thead {
	background-color: lightblue;
}
td, th {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
table tbody tr:nth-child(even) {
	background-color: #ddd;
}
td > p, th > p {
	margin-top:7px;
	margin-bottom:7px;
}
td > p:first-child, th > p:first-child  {
	margin-top:0;
}
td > p:last-child, td > p:last-child {
	margin-bottom:0;
}

h1 a, h2 a {
	text-decoration: none;
	color: inherit;
}
h1 span, h2 span {
	font-size:50%;
}
pre {
	color: #fff;
	font-size: 13px;
	white-space: pre;
	background-color: #051e30;
	border-color: #289ff4;
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	line-height: 19px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 10px 10px 10px 18px;
	word-wrap: break-word;
}
div.content > div:first-child > *:first-child {
	margin-top:2px;
}
div.content > div:last-child > *:last-child {
	margin-bottom:3px;
}
figure {
	margin:14px 0 0;
    border-radius: 6px;
    border: 1px solid black;
    display: inline-block;
	max-width: 100%;
}
figure > figcaption {
    border-top: 1px dashed black;
    text-align: center;
}
img {
	max-width: 100%;
}
a.external {
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%20d%3D%22M1.5%204.518h5.982V10.5H1.5z%22%2F%3E%3Cpath%20d%3D%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15px;
}
