body {
    font-family: arial,sans serif;
    font-size: 11pt;
}
fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 6px;
    background-color: white;
}
legend {
    padding-left: 5px;
    padding-right: 5px;
	margin-bottom: 5px;
}
fieldset.n3 {
	border: 1px solid #c0c0c0;
}
fieldset.n2 > legend {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 110%;
    border-radius: 6px;
}
fieldset > div > *:first-child {
	margin-top:0;
}
fieldset > div > *:last-child {
	margin-bottom:0;
}
h1 {
	background-color: dimgray;
	border-radius: 6px;
	color: white;
	padding: 10px;
	margin: 0;
}
body {
	background-color: #c0c0c0;
}
body > div {
	max-width:800px;
	margin: 0 auto;
	padding: 10px;
	background-color: #f0f0f0;
	border-radius: 6px;
}
table {
	border-spacing: 0px;
	border-collapse: collapse;
}
thead {
	background-color: lightblue;
}
td, th {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
table tbody tr:nth-child(even) {
	background-color: #ddd;
}
td > p, th > p {
	margin-top:7px;
	margin-bottom:7px;
}
td > p:first-child, th > p:first-child  {
	margin-top:0;
}
td > p:last-child, td > p:last-child {
	margin-bottom:0;
}
.enlace, a {
	color: rgb(0, 150, 200);
}
.comando {
	color:rgb(0, 0, 255);
}
.stout {
	color:rgb(0, 200, 0);
}
.archivo {
	color:rgb(125, 110, 70);
}
.archivo, .comando, .stout {
	font-weight: bold;
	font-family: 'courier new', monospace;
}
h1 a, legend a {
	text-decoration: none;
	color: inherit;
}
div.content > fieldset:first-child {
	margin-top:2px;
}
div.content > fieldset:last-child {
	margin-bottom:3px;
}
